mixin s-about()
	// start s-about
	+b.s-about.section#s-about.pt-3
		h2( class=" wow fadeInUp " data-wow-offset="80" data-wow-duration=".6s"): span О системе
		div( class=" wow fadeInUp " data-wow-offset="80" data-wow-duration=".6s")
			p ZONT H-1V — это комнатный термостат с собственной SIM‑картой, подключаемый к котлу отопления. Команды на него могут передаваться с любого телефона, планшета или ПК.   
			p Для удобства работы есть бесплатные приложения для телефона и личный кабинет на сайте. Для защиты от несанкционированного доступа вход в личный кабинет защищён паролем. 
	// end s-about