mixin s-specifications()
	// start s-specifications
	+b.s-specifications.section#s-specifications.d-none.d-md-block
		.container
			h2( class=" wow fadeInUp " data-wow-offset="80" data-wow-duration=".6s"): span Технические характеристики
			+e.TABLE.table( class=" wow fadeInUp " data-wow-offset="80" data-wow-duration=".6s")
				mixin tr(t1, t2)
					tr
						td= t1
						td= t2
				+tr("Напряжение питания","10-28В")
				+tr("Максимальный потребляемый ток","150 мА")
				+tr("Количество аналоговых входов","1")
				+tr("Выход сухой контакт (замыкание/размыкание)","1")
				+tr("Тип подключаемых проводных термодатчиков","DS 18S20")
				+tr("Тип подключаемых радиотермодатчиков","МЛ-703")
				+tr("Общее количество одновременно подключенных термодатчиков","10")
				+tr("Максимально допустимая длина шлейфа с термодатчиками","100 м")
				+tr("Максимальный ток через контакты реле","1000 мА")
				+tr("Максимальное напряжение коммутируемых контактов реле","~ 220 В, = 24 В")
				+tr("Голосовой интерфейс","есть")
				+tr("WEB интерфейс	","есть")
				+tr("Интерфейс 1-Wire	","есть")
				+tr("Температурный диапазон работы	","от -30 до +55 °С")
				+tr("Частотные диапазоны GSM-модема","800, 900, 1800, 1900 МHz")
				+tr("Канал передачи данных	","GPRS")
				+tr("GSM антенна","внешняя")
				+tr("Внутренняя энергонезависимая память","есть")
				+tr("Встроенный аккумулятор резервного питания","от 800-1000 мАh")
				+tr("Время выхода на рабочий режим","не более 50 сек")
				+tr("Средний срок службы","7 лет")
				+tr("Габаритные размеры","90 х 50 х 55")
				+tr("Масса, не более	","0,220 кг")
				+tr("Материал корпуса","Пластиковый на DIN рейку")

	// end s-specifications