mixin s-map()
	// start s-map
	+b.s-map.section#s-map
		.container
			h2.text-lg-left.text-center: span Готовая система
				br.d-lg-none
				|  для диспетчеризации
			.row
				.col-lg-7.text-lg-left.text-center( class=" wow fadeInLeft " data-wow-offset="80" data-wow-duration="1.5s")
					+e.map-wrap
						img.res-i(src="img/img-4/map.png", alt="")
						+e.icon-wraps--lg
							+e.icon-wrap--lg(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
								img.res-i(src="img/type-i-10.png", alt="")
							
							+e.icon-wrap--lg(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
								img.res-i(src="img/type-i-1.png", alt="")
							
							+e.icon-wrap--lg(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
								img.res-i(src="img/type-i-4.png", alt="")
							
							+e.icon-wrap--lg(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
								img.res-i(src="img/type-i-3.png", alt="")
							
							+e.icon-wrap--lg(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
								img.res-i(src="img/type-i-13.png", alt="")
							
							+e.icon-wrap--lg(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
								img.res-i(src="img/type-i-9.png", alt="")
							
							+e.icon-wrap--lg(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
								img.res-i(src="img/type-i-101.png", alt="")
						
						+e.icon-wraps--sm
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
							+e.icon-wrap--sm(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="" title="")
				.col.text-sm-left.text-center( class=" wow fadeInRight " data-wow-offset="80" data-wow-duration="1.5s")
					+e.right-block
						.h5.strong.text-lg-left.text-center Показатели со всех объектов
							br
							| на компьютере и телефоне
						+e.img-block.gal
							a(href="img/head-img-2.png")
							a(href="img/head-img-2.png")
							a(href="img/head-img-2-mob.png")
							img.res-i(src="img/head-img-3.png", alt="")
	 
	// end s-map