@include media-breakpoint-up(md) {
	.s-communications {
		background-color: $body-color;
		color: #ffffff;
		position: relative;

		@include media-breakpoint-up(lg) {
			.container {
				position: relative;

				&::after {
					content: url(../img/img-3/communications-img.jpg);
					position: absolute;

					@include media-breakpoint-up(xl) {

						right: 0;
					}

					right: -80px;
					top: -60px;
				}
			}
		}

		h2 {
			margin-top: 0;
			margin-bottom: em(15);
			// padding-bottom: em(10);
		}

		&__group {
			line-height: 1.7;
			margin-bottom: 30px;
			position: relative;
			z-index: 2;

			strong {
				color: $primary;
			}

			&:nth-child(1) {
				font-size: $h5-font-size;
				position: relative;

				&::after {
					content: url(../img/img-3/arrow-down.png);
					position: absolute;

					@include media-breakpoint-up(lg) {

						left: 40%;
					}

					left: 70%;
				}

			}

			&:nth-child(2) {
				font-size: $h5-font-size;
				border: 3px solid $primary;
				max-width: 629px;
				padding: 15px 10px 15px 25px;
			}

		}



		@include media-breakpoint-up(md) {
			padding-top: 85px;
		}


	}
}