mixin s-communications()
	// start s-communications
	+b.s-communications.section.d-none.d-md-block#s-communications
		.container 
			h2( class=" wow fadeInLeft " data-wow-offset="120" data-wow-duration="1.5s") Всегда на связи
			div
				+e.group
					| Все наши системы имеют 
					| 
					strong GSM-модемы 
					br
					| и&nbsp;возможность питания 
					| 
					strong от&nbsp;аккумулятора
				
				+e.group
					| При отключении электричества и&nbsp;домашнего интернета 
					br
					| система 
					strong сообщит об&nbsp;этом  
					| и 
					| 
					strong останется на&nbsp;связи
				
				+e.group
					| Некоторые системы используют
					| 
					strong  WiFi 
					| и 
					| 
					strong Ethernet
					br
					| как дополнительный канал связи
	// end s-communications