mixin sWays()
	// start sWays
	+b.sWays.section#sWays
		+e.bg--left(class="wow fadeInLeft" data-wow-offset="80" data-wow-duration="1.5s")
			img(loading="lazy" src="img/sWays-bg-left.svg" alt="")
		+e.bg--right(class=" wow fadeInRight" data-wow-offset="80" data-wow-duration="1.5s")
			img(loading="lazy" src="img/sWays-bg-right.svg" alt="")
		.container
			+e.section-title
				h2.text-center Варианты программного обеспечения Unimon
			+e.row.row
				+sWaysItem({
					title: 'Облачная версия',
					titleAddClasses: 'teal',
					descr: 'Работает на серверах Unimon в защищенных ЦОД с резервным электропитанием и каналами связи.',
					imgNum: 1,
				})
				+sWaysItem({
					title: 'Локальная версия ',
					descr: 'Комплекс ПО Unimon устанавливается на сервер клиента и может работать  в закрытой сети без доступа в Интернет.',
					imgNum: 2,
				})
	// end sWays

mixin sWaysItem(data)
	.col-md-6
		+e.item(class="wow fadeIn" data-wow-offset="80" data-wow-duration="1.5s")
			+e.inner
				+e.title(class=`${data.titleAddClasses || ''}`)=data.title
				+e.descr=data.descr
				+e.img
					img(loading="lazy" src=`img/sWay-${data.imgNum}.svg` alt="")