.s-control {

	h2{
		margin-bottom: rem(45);
	}
	&__sub-title{
		font-weight: 600;
		margin-bottom: rem(55);
	}
	&__title-block{
			padding-bottom: rem(25);
	}
	&__img-wrap{
		@include media-breakpoint-up(sm) { 
			width: 52px;
			height: 52px;
			padding: 0;
		}
		width: 38px;
		height: 38px;
		box-shadow: -3px 11px 2rem 4px rgba(66, 66, 66, 0.35);
		background-color: $primary;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 8px;
		img{
			max-width: 100%;
			max-height: 100%;
		}
		// vertical-align: middle;
		text-align: center;
		border-radius: 50%;
	}
	&__item{
		.row{
			@include roww(10)
			align-items: center;
		}
		margin-bottom: 20px;
	}
	&__row{
		padding-bottom: 50px;
	}



	.form-wrap{
		@include media-breakpoint-up(sm) {
	
			padding: 40px 20px 30px;
		}
		padding: 30px 15px 30px;
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {
		&__item{
			.col{
				// padding-right: 0;
				padding-left: 0;
			}
		}
	} 

}