mixin s-schema()
	// start s-schema
	+b.s-schema--control-temp.section#s-schema.d-none.d-md-block.pb-0
		.container
			h2( class=" wow fadeInUp " data-wow-offset="120" data-wow-duration="1.1s"): span Общая схема работы системы «UniBox 646N»
			.row.no-gutters
				+e.col-wow.col-lg-6( class=" wow fadeInLeft " data-wow-offset="120" data-wow-duration="1.1s")
					+e.group
						.h5.strong Контролирует датчики
						.small 15+ видов покозателей
						.row
							.col-auto: +e.img-wrap: img(src="img/schema-i-1.png", alt="alt")
							.col-auto: +e.img-wrap: img(src="img/schema-i-2.png", alt="alt")
							.col-auto: +e.img-wrap: img(src="img/schema-i-3.png", alt="alt")
					
					+e.group
						.h5.strong Управляет оборудованием
						.small котлом, насосами, задвижкам и пр.
						.row
							.col-auto: +e.img-wrap: img(src="img/schema-i-4.png", alt="alt")
							.col-auto: +e.img-wrap: img(src="img/schema-i-5.png", alt="alt")
							.col-auto: +e.img-wrap: img(src="img/schema-i-6.png", alt="alt")
					
				+e.col-wow.col( class=" wow fadeInRight " data-wow-offset="120" data-wow-duration="1.1s")
					.row.align-items-center.no-gutters
						.col-auto.d-none.d-xl-block
							img(src="img/schema-logo.png", alt="alt")
						.col
							.h5.strong Общается с пользователем
							.small с телефона и компьютера
							+e.img-block.gal
								a(href="img/head-img-2.png")
								a(href="img/head-img-2.png")
								a(href="img/head-img-2-mob.png")
								img.res-i(src="img/schema-img.png", alt="alt")
	// end s-schema

mixin s-schema--2()
	// start s-schema
	+b.s-schema--control-temp.section#s-schema.d-none.d-lg-block.bg-transparent
		+e.before-control-temp
			+e.before-control-temp-inner
		.container
			h2( class=" wow fadeInUp " data-wow-offset="120" data-wow-duration="1.1s"): span Общая схема работы системы   «UniBox 646N»
			.row.no-gutters
				+e.col-wow.col-lg-6( class=" wow fadeInLeft " data-wow-offset="120" data-wow-duration="1.1s")
					+e.group--control-temp
						.h5.strong Контролирует до 60 датчиков
						.small температуры, влажности, сети 220В и др.
						.row
							.col-auto: +e.img-wrap: img(src="img/img-2/schema-i-2-1.png", alt="alt")
							.col-auto: +e.img-wrap: img(src="img/img-2/schema-i-2-2.png", alt="alt")
							.col-auto: +e.img-wrap: img(src="img/img-2/schema-i-2-3.png", alt="alt")
					
					//- +e.group
					//- 	.h5.strong Управляет оборудованием
					//- 	.small котлом, насосами, задвижкам и пр.
					//- 	.row
					//- 		.col-auto: +e.img-wrap: img(src="img/schema-i-4.png", alt="alt")
					//- 		.col-auto: +e.img-wrap: img(src="img/schema-i-5.png", alt="alt")
					//- 		.col-auto: +e.img-wrap: img(src="img/schema-i-6.png", alt="alt")
					
				+e.col-wow.col( class=" wow fadeInRight " data-wow-offset="120" data-wow-duration="1.1s")
					.row.align-items-center.no-gutters
						.col-auto.d-none.d-xl-block
							img(src="img/schema-logo.png", alt="alt")
						.col
							.h5.strong Общается с пользователем
							.small с телефона и компьютера
							+e.img-block.gal
								a(href="img/head-img-2.png")
								a(href="img/head-img-2.png")
								a(href="img/head-img-2-mob.png")
								img.res-i(src="img/schema-img.png", alt="alt")
	// end s-schema


mixin s-schema-3()
	// start s-schema
	+b.s-schema--control-temp.--land3.section#s-schema.d-none.d-lg-block.pb-0
		.container
			h2( class=" wow fadeInUp " data-wow-offset="120" data-wow-duration="1.1s"): span Общая схема работы системы
			.row.no-gutters.align-items-center
				+e.col-wow.col-lg-6( class=" wow fadeInLeft " data-wow-offset="120" data-wow-duration="1.1s")
					+e.group--3.mb-3
						.h5.strong Контролирует датчики
						.small 15+ видов покозателей
						.row.mb-3
							.col-auto: +e.img-wrap: img(src="img/img-3/schema-i-3-1.png", alt="")
							.col-auto: +e.img-wrap: img(src="img/img-3/schema-i-3-2.png", alt="")
							.col-auto: +e.img-wrap: img(src="img/img-3/schema-i-3-3.png", alt="")
						
						.row
							.col-auto: +e.img-wrap: img(src="img/img-3/schema-i-3-4.png", alt="")
							.col-auto: +e.img-wrap: img(src="img/img-3/schema-i-3-5.png", alt="")
							.col-auto: +e.img-wrap: img(src="img/img-3/schema-i-3-6.png", alt="")
						
							
					
					+e.group
						.h5.strong Управляет оборудованием
						.small котлом, насосами, задвижкам и пр.
						.row
							.col-auto: +e.img-wrap: img(src="img/img-3/schema-i-3-7.png", alt="")
							.col-auto: +e.img-wrap: img(src="img/img-3/schema-i-3-8.png", alt="")
							.col-auto: +e.img-wrap: img(src="img/img-3/schema-i-3-9.png", alt="")
					
				+e.col-wow.col( class=" wow fadeInRight " data-wow-offset="120" data-wow-duration="1.1s")
					.row.align-items-center.no-gutters
						.col-auto.d-none.d-xl-block
							img(src="img/schema-logo.png", alt="alt")
						.col
							.h5.strong Общается с пользователем
							.small с телефона и компьютера
							+e.img-block.gal
								a(href="img/head-img-2.png")
								a(href="img/head-img-2.png")
								a(href="img/head-img-2-mob.png")
								img.res-i(src="img/schema-img.png", alt="alt")
	// end s-schema
