.top-nav {
	position: absolute;
	width: 100%;
	z-index: 200;

	@include media-breakpoint-up(md) {

		padding-top: 30px;
	}

	padding-top: 15px;
	@include mt;
	padding-bottom: 10px;
	top: 0;
	left: 0;


	&.fixed {
		position: fixed;
		padding-top: 5px;
		padding-bottom: 5px;
		bottom: auto;
		background-color: #fff;
		// border-bottom: 1px solid #ddd;
		box-shadow: 0 1px 1px rgba($color: #000000, $alpha: .4);
		
		.top-nav__link {
			display: none;
		}
		@include media-breakpoint-up(lg) {
			
			.top-nav__basket-wrap {
				margin-top: 6px;
			}
		}
	}
	&--page{
		
		box-shadow: 0 1px 1px rgba($color: #000000, $alpha: .4);
	}
	ul {
		text-align: center;
		list-style-type: none;
		margin-bottom: 0;
		// @include roww(11);
		margin-right: -10px;
		margin-left: -40px;
	}

	li {
		display: inline-block;
		list-style-type: none;

		a {
			color: $body-color;
			display: block;
			padding: 10px;

			&:hover {
				color: $primary;
			}
		}
	}

	&:not(.fixed):not(.top-nav--white) &__cont {
		a {
			@include media-breakpoint-up(md) {

				color: #ffffff !important;
			}

			@include mt;
			text-decoration: none !important;
		}
	}

	&__tel {
		position: relative;
		font-weight: 600;
		line-height: 1;

		.icon {
			color: inherit;
			position: absolute;
			left: -25px;

			@include media-breakpoint-up(md) {

				top: 10px;
				font-size: 14px;
			}

			top: 5px;
			font-size: 16px;

			@include media-breakpoint-up(md) {}

			display: inline-block;

		}
	}

	&__link {
		border-bottom: 1px dashed;
		text-decoration: none !important;
	}

	.row {
		align-items: center;
	}

 
	&--white:not(.fixed) {
		@include media-breakpoint-up(lg) {

			background-color: #ffffff;
		}

		@include media-breakpoint-up(md) {

			padding-top: 22px;
			padding-bottom: 22px;
		}

		.top-nav__cont {

			a {
				@include mt;
				@extend .text-primary;

				.icon {
					// color: $primary;
				}
			}

			.top-nav__link {
				border-color: $primary;
			}
		}
	}

	.container {
		position: relative;
	}

	&__basket-wrap {
		@include media-breakpoint-up(lg) {
			
			position: absolute;
			right: -15px;
			top: 100%;
			margin-top: 22px;
		width: auto;
		}
		padding-left: 0;
	}
	
	&__basket {
		@include media-breakpoint-up(lg) {

			border-radius: 0 0 50% 50%;
			width: 60px;
			width: 50px;
		height: 50px;
		.icon {
			font-size: 25px;

		}
		}
		.icon {
			font-size: 19px;

		}
		border-radius:  50%;
		position: relative;
		display: block;
		width: 42px;
		height: 42px;
		// border-radius: 0 0 $h3-font-size $h3-font-size;
		background-color: $primary;
		// text-align: center;
		// color: #ffffff;
		@extend .text-white;
		padding-top: 13px;
		padding-left: 10px;

	}

	&__basket-count {
		text-align: center;
		background-color: $body-color;
		border-radius: 50%;
		display: block;
		right: 5px;
		position: absolute;
		top: 5px;
		@include media-breakpoint-up(lg) {
			
			padding-top: em(1px);
			font-size: $small;
			width: 22px;
			height: 22px;
		}
		display: inline-flex;
		align-items: center;
		justify-content: center;
		// padding-top: em(1px);
		width: $h6-font-size;
		height: $h6-font-size;
		font-size: 10px;
		font-weight: 500;
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

.top-nav .menu-item-has-children {
	z-index: 2;
	position: relative;

	&:hover {
		z-index: 3;
	}

	>a {
		position: relative;
		z-index: 3;
		// font-weight: bold;
	}

	ul {
		display: none;
		// display: block;
		position: absolute;
		font-size: $small;
		text-align: left;
		top: -20px;
		left: 25px;
		width: 242px;

		box-shadow: 0 0 $h3-font-size 8px rgba(93, 93, 93, 0.33);
		border-radius: 10px;
		background-color: #ffffff;
		padding-top: 60px;
		padding-bottom: 15px;

		li {
			padding-left: 15px;
		}

		a {
			position: relative;
			text-decoration: none !important;
			display: inline-block;
			margin-top: 5px;
			margin-bottom: 7px;
			padding-top: 0;
			padding-bottom: 0;

			&::before {
				content: '— ';
			}
		}
	}

	&:hover {
		>ul {

			display: block;
		}
	}
}

// мобильное меню

// мобильное меню
$h: 2px;

.toggle-mnu {
	display: block;
	margin-left: 0;
	position: relative;
	z-index: 999 !important;
	right: 0;
	padding-left: 8px;
	padding-top: 9px;
	border-radius: 5px;
	width: 32px;
	height: 32px;
	border-radius: 7px;
	background-color: $primary;
	cursor: pointer;

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
		top: $h*3;
	}

	span:after {
		top: $h * 6;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		width: 16px;
		height: $h;
		background-color: #fff;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	&.on {
		opacity: 0;
	}

	&.on span {
		background-color: transparent;
	}

	&.on span:before {
		transform: rotate(45deg) translate(-1px, 0px);
	}

	&.on span:after {
		transform: rotate(-45deg) translate(4px, -5px);
	}
}

.trop {
	&__logo {
		// text-align: center;
		padding-left: 25px;
		padding-top: 15px;
		padding-bottom: 25px;

		img {
			// max-width: 45%;
			max-width: 120px;
			height: auto;
			width: auto;
		}
	}

	&.hidden-mnu {
		position: fixed;
		z-index: 999;
		max-width: 85%;
		height: 101vh;
		width: 280px;
		top: 0;
		left: 0;
		left: 0;
		transform: translate(-100%, 0);
		@include mt(.6);
		will-change: transform;
		overflow-x: hidden;

		.row {
			@include roww(0)
		}

		// display: none;
		.wrapp-hidden {
			background-color: #2f4050;
			padding: 10px 0;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
		}

		&.slideout-menu-left {
			// display: block;
		}

		ul {
			position: relative;
		}

		&.active {
			transform: translate(0, 0);

			.toggle-mnu {
				opacity: 1;
			}
		}

		.toggle-mnu {
			position: relative;
			cursor: pointer;
			margin-right: 0px;
			// position: fixed;
			opacity: 0;
			// left: 0;
			// right: auto;
			color: #FFF;
			top: auto;
			right: auto;
			left: auto;
			margin: 0;
			margin-top: 10px;
			margin-right: 10px;
			// margin-left: -20px;
			z-index: 9999;
			background-color: transparent;

			span,
			span:after,
			span:before {
				background-color: #fff;
			}

			&.on {
				opacity: 1;

				span {
					background-color: transparent;
				}
			}
		}

		.mnu-wrap {
			padding-top: 40px;
			overflow-y: auto;
			height: 100vh;
			margin: auto;


		}

		li {
			display: block;
			margin: 0;
			position: relative;
			@include mt;

			&.menu-item-has-children>a {
				margin-top: -2px;
				border-bottom: 2px solid transparent;


			}

			@include mt;

			ul {
				display: none;
				// border-left: 4px solid #19aa8d;

				// padding-left: 30px;
				a {
					padding: 6px 20px;
					padding-left: 30px;
				}

				// opacity: 0.7;
			}

			a {
				font-size: 14px;
				color: #a7b1c2;
				padding: 10px 0;
				display: block;
				text-decoration: none !important;
				@include mt;

				&:hover {
					background: #293846;
					color: #ffffff;
				}
			}

			&.menu-item-has-children {

				// border-left: 4px solid transparent;
				&.active {
					background: #293846;
					border-left: 4px solid #19aa8d;

					>a {
						color: #ffffff;

						.toggle-l {
							&::after {
								@include fal("\f107");
							}
						}
					}
				}
			}
		}

		li {
			display: block;
			margin: 0;

			a {
				padding: 10px 20px;
				display: block;
			}
		}

	}

	.toggle-l {
		position: absolute;
		width: 30px;
		height: 44px;
		right: 0;
		top: 0;
		margin-right: 10px;

		&::after {
			@include fal("\f104");
			font-size: 20px;
			@include a-cent();
			cursor: pointer;
		}
	}
}

// body {
// 	width: 100%;
// 	height: 100%;
// }

// .slideout-menu {
// 	position: fixed;
// 	top: 0;
// 	bottom: 0;
// 	width: 280px;
// 	min-height: 100vh;
// 	overflow-y: scroll;
// 	-webkit-overflow-scrolling: touch;
// 	z-index: 0;
// 	display: none;
// }

// .slideout-menu-left {
// 	left: 0;
// }

// .slideout-menu-right {
// 	right: 0;
// }

// .slideout-panel {
// 	position: relative;
// 	z-index: 1;
// 	// will-change: transform;
// 	background-color: #FFF; /* A background-color is required */
// 	min-height: 100vh;
// }

// .slideout-open,
// .slideout-open body,
// .slideout-open .slideout-panel {
// 	overflow: hidden;
// }

// .slideout-open .slideout-menu {
// 	display: block;
// }


// #panel{
// 	&::before {
// 	content: '';
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	@include mt(.1);
// 	background-color: #000000;
// 	opacity: 0;
// 	z-index: -1;
// 	top: 0;
// }

// &.fixed {
// 	overflow: hidden;
// 	// position: absolute;
// 	// width: 100%;
// 	// left: 0;
// 	// top: 0;
// 	position: relative;
// 	// z-index: 9/99;

// 	&::before {
// 		opacity: 0.56;
// 		z-index: 250;

// 		// opacity: 1;
// 	}
// }}

