mixin s-doc()
	// start s-doc
	+b.s-doc.section#s-doc.pt-3
		h2( class=" wow fadeInUp " data-wow-offset="80" data-wow-duration=".6s"): span Документация и ПО
		.row.row--small( class=" wow fadeInUp " data-wow-offset="80" data-wow-duration=".6s")
			.col-auto
				+e.A.btn(href="#", title="")
					img.res-i(src="img/btn-1.png", alt="")
			
			.col-auto
				+e.A.btn(href="#", title="")
					img.res-i(src="img/btn-2.png", alt="")
		div( class=" wow fadeInUp " data-wow-offset="80" data-wow-duration=".6s")
			mixin item(i,t)
				+e.item(href="#")
					+e.img-wrap
						img(src=`img/img-4/doc-${i}.png`, alt="")
					+e.title= t	
			+item("1","Инструкция по эксплуатации ZONT H-1V")
			+item("2","Сертификат соответствия")
			+item("3","Файл прошивки контролера")
			+item("4","Программа конфигуратора")
			+item("5","Бланк заказа")
	// end s-doc